.item{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    color: yellow;
}
h1{
    text-align: center;
}
.container{
    display: grid;
    max-width: 500px;
    margin: auto ;
    margin-bottom: 70px;
    grid-template-columns: 100px 200px 150px;
    grid-template-rows: 50px 100px 50px;
    grid-auto-rows: 50px 100px;
    gap: 5px;
    grid-auto-rows: 50px 100px;
   
}
.item1{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: span 2;
      

}

.item14{
    grid-column-start: 1;
    grid-column-end: -1;
}

/* ========2nd div========== */
.container1{
    display: grid;
    grid-template-columns: 40px 20px 50px;
}
.item0{
    background-color: khaki;
    color: black;
    border: 2px solid red;
}
.itemC{
    grid-column: span 2;
}