body{
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(150px, 440px);
    background-color: rgb(250, 104, 78);
}
.container{
    text-align: center;
    padding: 30px;
}
#title{
    margin: 20px 0px;
    font-size: 50px;
}
input{
    height: 70px;
    min-width: 100%;;
    border: none;
    background: transparent;
    /* border-radius: 10px; */
}
p{
    font-size: 25px;
}
